# Basic Python

1.  What is Python, and why is it popular?

  - python is a high-level, interpreted programming language known for its simplicity and readability.

why python is popular
  
  - Large Standard Library:  Python comes with a comprehensive standard library that provides support for various tasks without the need for additional installations.

  - Versatility: Python is a general-purpose language, meaning it can be used for a wide range of applications, including web development, data analysis, artificial intelligence, machine learning, automation, scientific computing, and more.

  - Easy to Learn and Read: Python emphasizes readability and simplicity, making it an excellent choice for beginners. Its clean syntax reduces the cost of program maintenance and development.

  - Interpretation and Compilation: Python is an interpreted language, which means code is executed line by line, making it easier to debug and test. However, Python can also be compiled into bytecode for improved performance using tools like PyInstaller, Cython, or Nuitka.

  - Dynamic Typing: Python uses dynamic typing, meaning you don't need to declare variable types explicitly. This flexibility allows for rapid development and prototyping.

  - Community Support: Python has a vast and active community of developers who contribute to its ecosystem by creating libraries, frameworks, and tools. This community support makes it easy to find solutions to problems, learn new techniques, and collaborate on projects.

2. What is an interpreter in Python?

  - An interpreter in python is a program that directly executes the python code and run it.instead of first converting it into machin code.so basically interpreter is a engine that read and run python code.

3. What are pre-defined keywords in Python?

  - pre-defined keywords are special reservd words that have specific meanings in the language.
  for example-if,else,true,false,none etc.

4. Can keywords be used as variable names?

  - No,keywords cannot be used as veriable name in python. because they are reserved words that python itself uses to understand the code structure.

5. What is mutability in Python?

  - In python, mutability means whether the value of and object can be changed after it is created.
  and object and container whose state or value can be chsnged after they are created are called as mutable object. list is a mutble object.

6. Why are lists mutable, but tuples are immutable?

  - list in python are designed to store a sequence of items that can change.
  so we can add new elements,remove elements,update the value.
  for example-

In [ ]:
a=[1,2,3,4]
a[0]=0
print(a)

[0, 2, 3, 4]

 -  tuples are meant to be fixed collections of item.once a tuple is created,python ebsure its contents remain contant.
  for example-

In [ ]:
b = "pwskills"
b[0] = "i"

TypeError: 'str' object does not support item assignment

7.  What is the difference between “==” and “is” operators in Python?
  - ==(Equality Operator)
  it means checks whether value of two object are the same. it does not care if they are stored at different momory locations.
  example-

In [ ]:
a = [1,2,3]
b = [1,2,3]
print(a==b)

True

  - is (identy operator) it means checks whether two variables point to the exact same object in memory.it checks object identity not just value.
  example-

In [ ]:
a = [1,2,3]
b = [1,2,3]
print(a is b)

False

In [ ]:
print(a==b)

True

8.  What are logical operators in Python?
  - In python logical operators are special used to combine conditional Statement(expressions that evaluate to either true or false). they help in decision making by controlling the flow of a program.
  
  python has three logical operators-

  1. and
     - it means retuen true if both conditions are true otherise false.
     - example

In [ ]:
a = 6
print(a>5 and a<10)

True

   2. or
       - it means return true if at least one condition is true and return false if both are false.
       - example

In [ ]:
a = 6
print(a>5 or a<5)

True

  3. not
     - it means reverses the result. if the condition is true,it become false
     - example-

In [ ]:
a = 6
print(not(a>5 and a<10))

False

9.  What is type casting in Python?
  - Type Casting means in python,is the process of changing the Data type of a value/object into another.
  - there is 2 type of type casting first is implicit and other is explicit
  -in implicit python understand the data type by itself
  -in explicit we have to convert data type using inbuilt function like- str,int,float,bool.

10.  What is the difference between implicit and explicit type casting?

  - implicit
  - in implicit python automaticaly understand the data type by itself we don't need type any extra code.
  - example

In [ ]:
a = 5
b = 5.5
c = a + b
print(c)

10.5

In [ ]:
print(type(c))

<class 'float'>

  - explicit
  -in explicit python will not understand the data type its done manually by the programmer.
  - example

In [ ]:
a = "5"
type(a)

str

In [ ]:
int(a)

5

In [ ]:
float(a)

5.0

11. What is the purpose of conditional statements in Python?
  - conditional statement helps us to code decisions based on some pre conditions.
  the purpose of conditional statement in python is to let a program make decision and execute certain blocks of code only when specific conditions are true.

12.  How does the elif statement work?
   - In python, elif(else if) Statements are used to test multiple conditions in a sequential manner, following an initial 'if' statement.they provide a way to executive different blocks of code based on which condition in met first.
  
  how elif statement work:

  - Initial 'if' statement: the process begins with an 'if' statement tht evaluates a condition.if this condition is 'true', the code block asociated with the 'if' statement is executed, and the entire 'if-elif-else block is exited.
  - elif conditions: if the 'if' condition is 'false',python proceeds to ecaluate the first 'elif' condition. if the elif condition is 'true' its corresponding code block is executed, and thr entire 'if-elif-else block is exited.
  - Subsequent 'elif' conditions: if the first 'elif' condition is also 'false', python move to the next 'elif' condition and repeat the evaluation process.
  - else statement(optionl): if all 'if' and 'elif' conditions evaluatedto 'false' ,the code block associated with optional 'else' statement is executed.
  example

In [2]:
marks = 85
if marks >= 90:
  print("Grade A")
elif marks >= 80:
  print("Grade B")
elif marks >= 70:
  print("Grade C")
else:
    print("Grade D")

Grade B

13. What is the difference between for and while loops?

  - for loop:
  - used when you know in advance how many times you want to run the loop.
  - Iterates over a sequences(like a list,str,tuple,or range).
  -Automatically moves to next item in the sequence.

  example

In [4]:
fruits = ["apple","banana","cherry"]
for fruit in fruits:
  print("I like",fruit)

I like apple
I like banana
I like cherry

  - while loop
  - used when you don't know in Advance how many times the loop should run
  - runs as long as a condition remains true
  -you must manually update the loop variabl,or it may become an infinite loop.

  example

In [5]:
fruit = ["apple","bnana","cherry"]
i = 0

while i < len(fruits):
  print("I like",fruits[i])
  i += 1

I like apple
I like banana
I like cherry

14. Describe a scenario where a while loop is more suitable than a for loop?

  - scenario: asking a user for a correct password.
  - so here we are making a program where the user must enter the correct password.we don't know how many attempts they will take.

  - so here, a while loop is better than a for loop because the numbe of repetitions is unknown in advance

  example

In [26]:
password = "neeraj123"
user_input = ""

while user_input != password:
  user_input = input("Enter the password:")
print("Access granted")

Enter the password:neeraj123
Access granted

# Practical Questons

1. Write a Python program to print "Hello, World!"

In [29]:
print("hello world!")

hello world!

2.  Write a Python program that displays your name and age.

In [30]:
name = "neeraj"
age = 25
print("my name is",name,"and my age is",age)

my name is neeraj and my age is 25

3. Write code to print all the pre-defined keywords in Python using the keyword library.

In [32]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

4. Write a program that checks if a given word is a Python keyword.

In [36]:
word = "if"
if keyword.iskeyword(word):
  print("it is a keyword")
else:
  print("it is not a keyword")

it is a keyword

5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.

In [37]:
my_list = [10 ,20 ,30]
print(my_list)

[10, 20, 30]

In [38]:
my_list[1] = 200
print(my_list)

[10, 200, 30]

In [39]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

In [42]:
my_tuple[1] = 200
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

6. Write a function to demonstrate the behavior of mutable and immutable arguments.

In [44]:
my_list = [1,2,3]
print(my_list)

[1, 2, 3]

In [52]:
my_list[1] = 100
print(my_list)

[1, 100, 3]

In [57]:
my_tuple = "pwskilla"
print(my_tuple)

pwskilla

In [58]:
my_tuple[1] = 100
print(my_tuple)

TypeError: 'str' object does not support item assignment

7. Write a program that performs basic arithmetic operations on two user-input numbers.

In [62]:
num1 = 10
num2 = 5
num1 = float(num1)
num2 = float(num2)
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

15.0
5.0
50.0
2.0

8. Write a program to demonstrate the use of logical operators.

In [65]:
a = True
b = False
print(a)
print(b)

True
False

In [66]:
print(a and b)

False

In [67]:
print(a or b)

True

In [68]:
print(not a)

False

In [69]:
print(not b)

True

In [72]:
print(a > 0 and b > 0)

False

In [73]:
print(a > 0 or y < 0)

True

In [75]:
print(not(a > b))

False

9.  Write a Python program to convert user input from string to integer, float, and boolean types.

In [76]:
a = 25
type(a)

int

In [77]:
print(float(a))

25.0

In [81]:
print(str(a))

25

In [79]:
print(bool)

<class 'bool'>

10. Write code to demonstrate type casting with list elements.

In [83]:
str_list = ["1","2","3","4"]
print(str_list)

['1', '2', '3', '4']

In [85]:
int_list = [int(x) for x in str_list]
print(int_list)

[1, 2, 3, 4]

In [86]:
float_list = [float(x) for x in str_list]
print(float_list)

[1.0, 2.0, 3.0, 4.0]

In [87]:
bool_list = [bool(x) for x in str_list]
print(bool_list)

[True, True, True, True]

11. Write a program that checks if a number is positive, negative, or zero.

In [88]:
num = 1
print(num)

1

In [89]:
if num > 0:
  print("positive")
elif num < 0:
  print("negative")
else:
  print("zero")

positive

12. Write a for loop to print numbers from 1 to 10.

In [97]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

13. Write a Python program to find the sum of all even numbers between 1 and 50.

In [102]:
total = 0
for i in range(1,51):
  if i % 2 == 0:
    total += i
    print(total)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

14.  Write a program to reverse a string using a while loop.

In [106]:
text ="hello world"
reversed_text = ""
i = len(text) - 1
while i >= 0:
  reversed_text += text[i]
  i -= 1
  print(reversed_text)

d
dl
dlr
dlro
dlrow
dlrow
dlrow o
dlrow ol
dlrow oll
dlrow olle
dlrow olleh

15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [107]:
num = int(input("enter the number"))
factorial = 1
i = 1
while i <= num:
  factorial *= i
  i += 1
  print(f"factorial of {num} is {factorial}")

enter the number5
factorial of 5 is 1
factorial of 5 is 2
factorial of 5 is 6
factorial of 5 is 24
factorial of 5 is 120